main {
    display: flex;
    flex-direction: column;
    scrollbar-width: none
  }
  
.my-message {
    background-color: #2563eb; /* Blue color */
    color: #ffffff; /* White text */
    align-self: flex-end; /* Align to the right */
    padding: 8px 12px;
    border-radius: 12px;
    max-width: 60%;
    margin-bottom: 8px;
  }
  .other-message {
   
    color: #000000; /* Black text */
    align-self: flex-start; /* Align to the left */
    padding: 8px 12px;
    border-radius: 12px;
    max-width: 60%;
    margin-bottom: 8px;
  }